@import "bourbon";

$bezier: cubic-bezier(0.215, 0.610, 0.355, 1.000);
$time: 300ms;

$base-font-family: "Avenir Next", "Avenir", "Helvetica Neue", Helvetica, Arial, sans-serif;

@mixin animated(
$time: 300ms,
$fillmode: both,
$count: 1) {
    animation-duration: $time;
    animation-fill-mode: $fillmode;
    animation-iteration-count: $count;
}
body{
    background-color: #363E4A;
    font-family: $base-font-family;
    font-size: 16px;
    color: #ffffff;
    line-height: 1.5;
}
.details h1{
    font-family: "Texta", $base-font-family;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: center;
}
h2{
    padding-top: 40px;
    padding-bottom: 40px;
    font-family: "Texta", $base-font-family;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: center;
}
form .container{
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 30px;
    border-radius: 40px;
    margin: 0 auto;
    transform: translateZ(0);
}
.ui-input {
    position: relative;
    padding: 0;
    border: 0;
}

.ui-input input {
    font-family: $base-font-family;
    border: 0;
    background: none;
    padding: 16px 0 16px 0;
    font-size: 24px;
    outline: 0;
    width: 100%;
    tap-highlight-color: rgba(0,0,0,0);
    touch-callout: none;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
    size: 50px;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}