
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,600,400italic);
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}
body {
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-weight: 100;
    font-size: 12px;
    line-height: 30px;
    color: #777;
    background-color: #777777;
}
.details h1{
    font-family: "Texta", $base-font-family;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: center;
    color: black;
    margin-top: 50px;
}
.information{
    color: black;
}
h2{
    padding-top: 40px;
    padding-bottom: 40px;
    font-family: "Texta", $base-font-family;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: center;
    color: black;
}
form .container {
    width: 100%;
    margin: 0 auto;
    position: relative;
    background: #4CAF50;
    border-radius: 30px;
    padding: 50px 50px 50px 50px;
}


input{
    //margin: 20px 20px 20px 20px ;
    border-radius: 20px;
    padding: 5px 5px 5px 5px;
}






.btn {
    border: 0;
    background-color: #50617A;
    padding: 18px 30px;
    font-size: 14px;
    line-height: 1.5;
    text-transform: uppercase;
    letter-spacing: .0875em;
    font-weight: 500;
    color: #ffffff;
    font-family: $base-font-family;
    border-radius: 100px;
    outline: 0;
    transition: background-color $time $bezier,
    color $time $bezier;
    text-align: center;
    margin: 0 auto;
}

.btn:focus,.btn:active,
.btn:hover {
    background-color: #6EB1FF;
    color: white;
}




input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
    size: 50px;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}